{% extends "base.html" %}
{% block content %}

<h1>{{ artist.name }}</h1>

<div>
    <a href="/artists/{{ artist.id }}/edit">Edit</a>
</div>
<div class="buttons">
    <form class="delete_form" action="/artists/{{ artist.id }}/delete" method="POST">
        <button class="trash_button"><i class="fa fa-trash-o fa-3x" aria-hidden="true"></i></button>
    </form>     
</div>

<h4>Records</h4>
<!-- <div>
    <ul>
        {% for album in albums %}
                <li>{{ album.title }}</li> 
        {% endfor %}
    </ul>
</div> -->

{% endblock %}}