{% extends 'base.html' %}
{% block content %}

<table id="store_stock_table">
    <tr>
        <th class="stock_table_head">Total albums in stock</th>
        <th class="stock_table_head">Total spend on stock</th>
    </tr>
    <tr>
        <td class="stock_table_data">{{ total_albums_in_stock }}</td>
        <td class="stock_table_data">{{ total_spend_on_stock }}</td>
    </tr>
</table>

<h3>Stock Alerts</h3>
<hr>
<div>
    {% if stock_alerts %}
        {% for album in albums %}
            {% if album.stock_qty == 0 %}
                <a href=albums/{{album.id}} class="homepage_attention_item">
                    <p><span id="out_of_stock">!</span><i> {{ album.title }} by {{ album.artist.name }} is out of stock</i></p>
                </a>
            {% endif %}
        {% endfor %}
        {% for album in albums %}
            {% if album.stock_qty > 0 and album.stock_qty <= 3 %}
                <a href=albums/{{album.id}} class="homepage_attention_item">
                    <p><span id="low_stock">!</span><i> {{ album.title }} by {{ album.artist.name }} has low stock</i></p>
                </a>
            {% endif %}
        {% endfor %} 
    {% else %}
        <span>None</span> 
    {% endif %}
</div>

{% endblock %}