{% extends 'base.html' %}
{% block content %}

<table id="store_stock_table">
    <tr>
        <th>Total albums in stock</th>
        <th>Total spend on stock</th>
    </tr>
    <tr>
        <td>{{ total_albums_in_stock }}</td>
        <td>{{ total_spend_on_stock }}</td>
    </tr>
</table>


<h3>Stock Alerts</h3>
<div>
    {% if stock_alerts %}
        {% for album in albums %}
            {% if album.stock_qty == 0 %}
                <a id="out-of-stock" href=albums/{{album.id}} class="homepage_attention_item"><p><i>! {{ album.title }} by {{ album.artist.name }} is out of stock</i></p></a>
            {% endif %}
        {% endfor %}
        {% for album in albums %}
            {% if album.stock_qty > 0 and album.stock_qty <= 3 %}
                <a id="low-stock" href=albums/{{album.id}} class="homepage_attention_item"><p><i>! {{ album.title }} by {{ album.artist.name }} has low stock</i></p></a>
            {% endif %}
        {% endfor %} 
    {% else %}
        <span>None</span> 
    {% endif %}
</div>

{% endblock %}