{% extends "base.html" %}
{% block content %}

<h1>{{ album.title }}</h1>
<h2>by {{ album.artist.name }}<h2>
<h3>Released in {{ album.year_released }}</h3>
<h3>Genre: {{ album.genre }}</h3>
<h4>Stock Qty: {{ album.stock_qty }}</h4>
<h4>Cost Price: {{ album.purchase_price_formatted() }}</h4>
<h4>Retail Price: {{ album.sell_price_formatted() }}</h4>
<br>
<div class="edit-delete">
  <form action="/albums/{{ album.id }}/edit" method="GET">
    <div>
      <button class="buttons"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
    </div>
  </form>
  <form action="/albums/{{ album.id }}/delete" method="POST">
    <div>
      <button class="buttons"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
    </div>
  </form>
</div>

{% endblock %}}