{% extends "base.html" %}
{% block content %}

  <div>
    <p>{{ album.title }}</p>
    <p>by {{ album.artist.name }}</p>
    <p>Released in {{ album.year_released }}</p>
    <p><i>{{ album.genre }}</i></p>
    <p></p>
    <p>No. in stock: {{ album.stock_qty }}</p>
    <p></p>
    <p>Cost to buy: {{ album.purchase_price_formatted() }}</p>
    <p>Sale price: {{ album.sell_price_formatted() }}</p>
    <p></p>
    <p><a href="/albums/{{ album.id }}/edit">Edit</a></p>
    <div class="buttons">
      <form class="delete_form" action="/albums/{{ album.id }}/delete" method="POST">
          <button class="trash_button"><i class="fa fa-trash-o fa-3x" aria-hidden="true"></i></button>
      </form>     
    </div>
  </div>

{% endblock %}}