{% extends "base.html" %}
{% block content %}

<h1>Album List</h1>
<table>
  <thead>
    <tr>
      <th>Stock<br>Number</th>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Year<br>Released</th>
      <th>Stock<br>Qty</th>
      <th>Cost to<br>Buy</th>
      <th>Sale<br>Price</th>
      <th>Markup</th>
    </tr>
  </thead>
  <tbody>
    {% for album in albums %}
      <tr>
        <td class="align-right">{{ album.stock_number() }}</td>
        <td><a class="name-link align-left" href="/albums/{{ album.id }}">{{ album.title }}</a></td>
        <td class="align-left">{{ album.artist.name }}</td>
        <td class="align-left">{{ album.genre }}</td>
        <td>{{ album.year_released }}</td>
        <td class="align-right">
          {% if album.stock_qty == 0 %}
            <div class="out-of-stock-table">{{ album.stock_qty }}</div>
          {% endif %}
          {% if album.stock_qty > 0 and album.stock_qty <= 3 %}
            <div class="low-stock-table">{{ album.stock_qty }}</div>
          {% endif %}
          {% if album.stock_qty > 3 %}
            <div>{{ album.stock_qty }}</div>
          {% endif %}
        </td>
        <td class="align-right">{{ album.purchase_price_formatted() }}</td>
        <td class="align-right">{{ album.sell_price_formatted() }}</td>
        <td class="align-right">{{ album.markup_value }}</td>
      </tr>
    {% endfor %} 
  </tbody>
</table>

{% endblock %}
