{% extends "base.html" %}
{% block content %}

<table>
  <thead>
    <tr>
      <th>Item #</th>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Year Released</th>
      <th>Stock Qty</th>
      <th>Cost to Buy</th>
      <th>Sale Price</th>
      <th>Markup</th>
    </tr>
  </thead>
  <tbody>
    {% for album in albums %}
    <tr>
      <td>{{ album.id }}</td>
      <td><a href="/albums/{{ album.id }}">{{ album.title }}</a></td>
      <td>{{ album.artist.name }}</td>
      <td>{{ album.genre }}</td>
      <td>{{ album.year_released }}</td>
      <td>{{ album.stock_qty }}</td>
      <td>{{ album.purchase_price_formatted() }}</td>
      <td>{{ album.sell_price_formatted() }}</td>
      <td>{{ album.markup_value }}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>

{% endblock %}