{% extends "base.html" %}
{% block content %}

<hr>
{% for album in all_albums %}
    <div>
        <a href="/albums/{{ album.id }}">{{ album.title }}</a>
        <div>
            by {{ album.artist.name }}
            <div>
                Released in {{ album.year_released }}
            </div>
            <div>
                <i>{{ album.genre }}</i>
            </div>
        </div>
        <p>No. in stock: {{ album.stock_qty }}</p>
        <p></p>
        <p>Cost to buy: £{{ album.purchase_price }}</p>
        <p>Sale price: £{{ album.sell_price }}</p>
        <div class="buttons">
            <form class="delete-form" action="/albums/{{ album.id }}/delete" method="POST">
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
            </form>
            <hr>           
        </div>
    </div>
{% endfor %}

{% endblock %}